{% if args|length > 0 %}
<div class="btn-group{% if args|length > 2 %} dropdown{% endif %}" role="group">
    {% if args.0.competitor %}
        {% include "profile/profile_button.html" with args=args.0.competitor %}
    {% else %}
        {% include "profile/profile_button.html" with args=args.0 %}
    {% endif %}
{% if args|length > 2 %}
{% for link in args %}
{% if forloop.first %}
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        vs. {{ args|length|add:"-1" }} more
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
{% else%}
        <li role="presentation">
            {% if link.competitor %}
                {% include "profile/profile_button.html" with args=link.competitor %}
            {% else %}
                {% include "profile/profile_button.html" with args=link %}
            {% endif %}
        </li>
{% endif %}
{% endfor %}
    </ul>
{% else %}
    <button type="button" class="btn btn-default btn-sm" disabled>vs.</button>
    {% if args.1.competitor %}
        {% include "profile/profile_button.html" with args=args.1.competitor %}
    {% else %}
        {% include "profile/profile_button.html" with args=args.1 %}
    {% endif %}
{% endif %}
</div>
{% else %}
None
{% endif %}
