{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-primary suttle-shadow single-content">
        <div class="panel-heading low-padding">
            <h2 class="panel-title no-padding no-margin text-center text-lg">{% trans "Sign Up" %}</h2>
        </div>

        <p class="panel-body">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

        <form class="form-horizontal" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
            <table class="table table-condensed margin-auto-horz">
            {{ form.as_table }}
            </table>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="flex low-margin-vert">
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
