<table class="table table-bordered low-margin xs-text-sm">
{% for competition in args %}
    <tr>
        <td class="">
            <div class="flex-wrap">
                <div class="info-group">
                    <span class="info-label">Name:</span>
                    <span class="info">{{ competition.name|title }}</span>
                </div>
                <div class="info-group">
                    <span class="info-label">Game:</span>
                    <span class="info">{{ competition.game_type }}</span>
                </div>
                <div class="info-group">
                    <span class="info-label">Type:</span>
                    <span class="info">{{ competition.get_competition_type_display|title }}</span>
                </div>
            </div>
        </td>
        {% with competitors=competition.competitors %}
        <td class="">
            <div class="info-group visible-xs">
                <span class="info-label">Competitors{{ competitors.count|pluralize }}:</span>
                <span class="info">
                    {% include "dropdown_list.html" args=competitors %}
                </span>
            </div>
        </td>
        {% endwith %}
        <td class="">
            <div class="med-margin-vert">
                <a role="button" class="btn btn-default" href="{{ competition.get_absolute_url }}">View</a>
            </div>
        </td>
    </tr>
    {% endwith %}
{% empty %}
    <tr><td><a href="/competitions/new/">Set up a new competition now!</a></td></tr>
{% endfor %}
</table>