{% if args|length > 1 %}
{% for link in args %}
{% if forloop.first %}
<a href="{{ link.get_absolute_url }}">
  {{ link|stringformat:"s" }}
</a>
<span role="presentation" class="dropdown"> &amp;
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      {{ args|length }} more<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
{% else%}
        <li role="presentation">
            {{ link.html_link }}
        </li>
{% endif %}
{% endfor %}
    </ul>
</span>
{% elif args|length > 0 %}
<a href="{{ args.get.get_absolute_url }}">
  {{ args.get|stringformat:"s" }}
</a>
{% endif %}
