<div class="panel panel-default suttle-shadow {{ args.classes }} {% if args.popup %}popup b-action:popup-close:dismiss{% endif %}">
    {% if args.title %}
    <div class="panel-heading bg-white low-padding">
        <h2 class="panel-title no-padding no-margin text-center text-lg">{{ args.title }}</h2>
    </div>
    {% endif %}
    <form id="{{ args.id }}"  class="form-horizontal panel-body" method="post">{% csrf_token %}
        <div class="form-windows">
        {% for window in args.windows %}
            <div id="{{ window.id }}" class="suttle-shadow">
            {% if window.type == "form" %}
                {{ window.content.as_input_group }}
            {% elif window.type == "form-table" %}
                {% include "table.html" with args=window.groups only %}
            {% elif window.type == "panel-group" %}
            {% for panel in window.panels %}
                {% include "panel.html" with args=panel only %}
            {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
        </div>
        <div id="controls">
        {% if args.windows|length > 1 %}
            <div id="{{ window.id }}_controls" class="flex low-margin-vert {% if forloop.counter != args.windows|length %}b-action:{{ args.windows.id }}_back:display {% endif %} b-action:{{ windows.id }}_next:dismiss"
      data-transition="slideLeft">
                <button type="button" id="{{ window.id }}_back" class="btn btn-default margin-auto input-validate" onclick="$(this).triggerAction()">&laquo;&nbsp;Back</button>
                <button type="button" id="{{ window.id }}_next" class="btn btn-default margin-auto input-validate" onclick="$(this).triggerAction()">Next&nbsp;&raquo;</button>
            </div>
        {% endif %}
            <div class="flex low-margin-vert">
                <button type="reset" id="{{ args.id }}_reset" class="btn btn-default margin-auto">Reset</button>
                <button type="submit" id="{{ args.id }}_submit" class="btn btn-primary margin-auto input-validate {{ args.submit_classes }}">{{ args.submit_label }}</button>
            </div>
            <div class="alert form-alert alert-danger hidden b-action:form-alert-close:dismiss" role="alert">
                <div class="alert-message">Please fill in all required inputs.</div>
                <button id="form-alert-close" type="button" class="close" onclick="$(this).triggerAction()" aria-label="Close">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </form>
    {% if args.popup %}
    <a id="popup-close" role="button" class="close" onclick="$(this).triggerAction()" href="#" aria-label="Close">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
    </a>
    {% endif %}
</div>