<table class="table table-bordered low-margin">
  <tr>
    <td class="">
      <div class="low-margin-vert">
        <span class="">{{ args.time }} {{ args.date }}</span> @
        <a href="{{ args.location.link }}" class="">{{ args.location.name }}</a>
      </div>
      <div class="party low-margin">
        <a href="user/{{ party.id }}" class="img-link">
          <img class="" width="30px" height="30px" src="{{ party.image }}" alt="{{ party.name }}" />&nbsp;
        </a>
        <a href="user/{{ party.id }}" class="inline-block">
          <span class="party-name">{{ party.name }}</span>
          <span class="party-abbrev hidden">{{ party.abbrev }}</span>
        </a>
        {% include "star_rating.html" rating=party.rating %}
      </div>
      <div class="party low-margin">
      {% for party in args.parties %}
        {% if forloop.counter > 1 %}
            <li>
              <div class="party low-margin">
                <a href="{{ user/party.id }}" class="img-link">
                  <img class="" width="30px" height="30px" src="{{ party.image }}" alt="{{ party.name }}" />&nbsp;
                </a>
                <a href="{{ user/party.id }}" class="inline-block">
                  <span class="party-name">{{ party.name }}</span>
                  <span class="party-abbrev hidden">{{ party.abbrev }}</span>
                </a>
              </div>
              {% include "star_rating.html" rating=party.rating %}
            </li>
        {% else %}
        <a href="{{ user/party.id }}" class="img-link">
          <img class="" width="30px" height="30px" src="{{ party.image }}" alt="{{ party.name }}" />&nbsp;
        </a>
        <a href="{{ user/party.id }}" class="inline-block">
          <span class="party-name">{{ party.name }}</span>
          <span class="party-abbrev hidden">{{ party.abbrev }}</span>
        </a>
        {% include "star_rating.html" rating=party.rating %}
        {% if args.parties|length > 1 %}
        <span class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">and x others</a>
          <ul class="dropdown-menu">
          {% endif %}
        {% endif %}
        {% endfor %}
        {% if args.parties|length > 1 %}
          </ul>
        </span>
        {% endif %}
      </div>
    </td>
    <td class="">
      {% for detail in args.details %}
      <div class="low-margin-vert"><span class="info-label">{{ detail.label }}</span><span class="info">{{ detail.value }}</span></div>
      {% endfor %}
    </td>
    <td class="">
      <button type="button" id="add_game_result" class="btn btn-default center-block med-margin-vert" href="#backdrop" data-toggle="pop-up" data-role="button-toggle">Add Result</button>
      <button type="button" id="edit_game_details" class="btn btn-default center-block med-margin-vert" href="#backdrop">Edit Details</button>
    </td>
  </tr>
</table>

