<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ args.title }}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#global-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
        {% for section in args.sections %}
            {% if section.type == "form" %}
            <form class="navbar-form {{ section.classes }}"> {% csrf_token %}
                {% include "input_group.html" with args=section only %}
            </form>
            {% else %}
            <ul class="nav navbar-nav {{ section.classes }}">
            {% for item in section.items %}
                {% if item.dropdown %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.label }}</a>
                    <ul class="dropdown-menu">
                    {% for dropdown_item in item.dropdown.items %}
                        {% if dropdown_item.type == "divider" %}
                        <li role="separator" class="divider"></li>
                        {% else %]
                        <li><a href="{{ dropdown_item.link }}">{{ dropdown_item.label }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</nav>