<div class="container-fluid">
    <div class="wrap suttle-shadow">
        <img class="background" width="100%" height="100%" src="{{ args.bg_image }}" alt="cover" />
        <div class="wrap-content row xs-text-sm">
            <div class="profile-name col-xs-12">{{ args.name }}</div>
            <div class="profile-card col-xs-12 col-sm-8 col-md-6">
                <div class="profile-details">
                    <div class="wrap width-30 low-margin-horz pull-left">
                        <img class="" width="100%" height="100%" src="{{ args.image }}" alt="user" />
                        <div class="overlay">
                            <label class="text-center" for="profile_pic">
                                Upload Photo&nbsp;<span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                                <input type="file" id="profile_pic" class="hidden" name="profile_pic">
                            </label>
                        </div>
                    </div>
                    {% for key, value in args.details.items %}

                    <div class="info-group">
                        <span class="info-label">{{ key|title }}:</span>
                        <span class="info">{{ value }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-offset-2">
                <div class="panel panel-default">
                    <table class="table table-bordered table-striped table-condensed">
                    {% for stat in args.stats %}
                        <tr>
                            <th>{{ stat.label }}:</th>
                            <td>{{ stat.value }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <div class="panel-footer text-center low-padding-vert"><a href="/profile/stats/">More Stats</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

