{% extends "home.html" %}

{% block title %}{{ title|default:"matchup-games" }}games{% endblock %}

{% block navbar %}
    {% include "navbar.html" with args=navbar csrf_token=csrf_token only %}
{% endblock %}

{% block toolbar %}
    {% include "toolbar.html" with args=toolbar csrf_token=csrf_token only %}
{% endblock %}

{% block body_content %}
    {% include "profile_header.html" with args=header csrf_token=csrf_token only %}
    {% include "navtabs.html" with args=navtabs csrf_token=csrf_token only %}
{% endblock %}
