<div class="page-toolbar">
    <div class="btn-toolbar" role="toolbar" aria-label="">
        <div class="btn-group">
            <a role="button" class="btn btn-default btn-sm" href="/competitons/new">New&nbsp;Competiton</a>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="competitions/new/1">Matchup</a></li>
                <li><a href="competitions/new/2">Series</a></li>
                <li><a href="competitions/new/3">Tournament</a></li>
                <li><a href="competitions/new/4">Season</a></li>
                <li><a href="competitions/new/5">Olympics</a></li>
            </ul>
        </div>
        <div class="btn-group hidden-xs" role="group" aria-label="">
            <a role="button" class="btn btn-default btn-sm" href="/leagues/new/">New&nbsp;League</a>
            <a role="button" class="btn btn-default btn-sm" href="/games/new/">New&nbsp;Game</a>
            <a role="button" class="btn btn-default btn-sm" href="/venue/new/">New&nbsp;Venue</a>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <a role="button" class="btn btn-default btn-sm" title="edit profile" href="/profile/edit"><span class="hidden-xs">Edit&nbsp;Profile&nbsp;</span><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            <a role="button" class="btn btn-default btn-sm" href="/new_message/"><span class="hidden-xs">Send&nbsp;Messages&nbsp;</span><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
            <a role="button" class="btn btn-default btn-sm" href="/invite/"><span class="hidden-xs">Invite&nbsp;Players&nbsp;</span><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
        </div>
    </div>
</div>