<div id="twitter_profile" class="panel panel-default suttle-shadow ">
    <div class="panel-body no-padding-horz" data-transition="slideUp">
        <span class="right-corner">
            <a href="https://twitter.com/thedublyou" class="twitter-follow-button" data-show-count="false">Follow @thedublyou</a>
        </span>
        <a class="twitter-timeline" href="https://twitter.com/thedublyou">Tweets by thedublyou</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>