{% if args.layout == "group" %}
<div class="input-group">
    <span class="input-group-addon hidden-xs">
        <label for="{{ args.id }}" class="control-label">{{ args.label }}:</label>
    </span>
    {% for input in args.inputs %}
        {% if input.type != "textarea" %}
            {% include "form_input.html" with args=input only %}
        {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="form-group low-padding no-margin-horz {{ args.classes }}">
    {% if args.layout == "inline" %}
    <label for="{{ args.id }}" class="control-label hidden-xs col-sm-4">{{ args.label }}</label>
    <div class="col-xs-12 col-sm-8">
        {% for input in args.inputs %}
            {% if input.members %}
                {% include "input_group.html" with args=input only %}
            {% else %}
                {% include "form_input.html" with args=input only %}
            {% endif %}
        {% endfor %}
    </div>
    {% else %}
    <label for="{{ args.id }}" class="control-label">{{ args.label }}</label>
        {% for input in args.inputs %}
            {% if input.members %}
                {% include "input_group.html" with args=input only %}
            {% else %}
                {% include "form_input.html" with args=input only %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endif %}