<table class="table table-bordered primary-back {{ table.classes }}">
    {% if args.headers %}
    <thead>
        <tr>
        {% for header in args.headers %}
            <th>{{ header.label }}</th>
        {% endfor %}
        </tr>
    </thead>
    {% endif %}
    <tbody>
    {% for row in args.rows %}
        <tr>
        {% for cell in row.cells %}
            <td class="{{ cell.classes }}">
            {% for content in cell.contents %}
                {% if content.type == "template" %}
                    {% include content.value with args=content.args }}
                {% else %}
                    {{ content.value }}
                {% endif %}
            {% empty %}
                {% if cell.content.type == "template" %}
                    {% include cell.content.value with args=cell.content.args }}
                {% else %}
                    {{ cell.content.value }}
                {% endif %}
            {% endfor %}
            </td>
        {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>